body {
  /*best setting for having a flex and center-based page*/
  margin: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(Background.svg);
}
h1 {
  /*h1 (Name's Settings)*/
  direction: ltr;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
  text-shadow: 2px 2px 2px 2px #000;
  position: relative;
  right: 84px;
  bottom: 40px;
}
.age {
  /*p1 (Age's Settings)*/
  font-family: "Zen Kurenaido", sans-serif;
  direction: ltr;
  text-shadow: 2px 2px 2px 2px #000;
  position: relative;
  right: 140px;
  bottom: 40px;
}
.url {
  /*p2 (url's Settings)*/
  font-family: "Space Mono", monospace;
  font-size: 14px;
  direction: ltr;
  text-shadow: 2px 2px 2px 2px #000;
  position: relative;
  right: 10px;
  top: 20px;
}
.profile-card a > img {
  /*Avatar Url*/
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  position: relative;
  top: 60px;
  left: 135px;
  background-color: #001220;
  border: gray solid;
}
.profile-card a:hover > img {
  /*Avatar's shadow on hover*/
  position: relative;
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.card {
  position: fixed;
  width: 430px;
  height: 250px;
  border-radius: 5px;
  background-image: url(card.svg);
  color: #ffffff;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
  position: fixed;
  top: 100px;
}
.Button1 {
  /*cat's button settings*/
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c62368;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: -70px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 132, 0.411); /*dont forget to change shadow's color if u wanna change buttom's color*/
}
.Button2 {
  /*cat's button settings*/
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c62368;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 0px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 132, 0.411); /*dont forget to change shadow's color if u wanna change buttom's color*/
}
.Button3 {
  /*cat's button settings*/
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c62368;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50px;
  right: -70px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 132, 0.411); /*dont forget to change shadow's color if u wanna change buttom's color*/
}
.button1,
.Button2,
.Button3:focus {
  outline: 0;
}
.button1:before,
.Button2:before,
.Button3:before,
.button1:after,
.Button2:after,
.Button3:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.button1:before,
.Button2:before,
.Button3:before {
  /*your buttom gets softer with this settings*/
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.button1:after,
.Button2:after,
.Button3:after {
  /*when u click, buttom gets smaller*/
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.button1:active,
.button2:active,
.button3:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.button1.animate:before,
.Button2.animate:before,
.Button3.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.button1.animate:after,
.Button2.animate:after,
.button3.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  /*this makes bubbles around key after clicks (for top of the button)*/
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  /*this makes bubbles around key after clicks (for bottom of the button)*/
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
