body {
  /*best setting for having a flex and center-based page*/
  margin: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(Background.svg);
}
h1 {
  /*h1 (Name's Settings)*/
  direction: ltr;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
  text-shadow: 2px 2px 2px 2px #000;
  position: relative;
  right: 84px;
  bottom: 40px;
}
.age {
  /*p1 (Age's Settings)*/
  font-family: "Zen Kurenaido", sans-serif;
  direction: ltr;
  text-shadow: 2px 2px 2px 2px #000;
  position: relative;
  right: 140px;
  bottom: 40px;
}
.url {
  /*p2 (url's Settings)*/
  font-family: "Space Mono", monospace;
  font-size: 14px;
  direction: ltr;
  text-shadow: 2px 2px 2px 2px #000;
  position: relative;
  right: 10px;
  top: 20px;
}
.profile-card a > img {
  /*Avatar Url*/
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  position: relative;
  top: 60px;
  left: 135px;
  background-color: #ffffff75;
}
.profile-card a:hover > img {
  /*Avatar's shadow on hover*/
  position: relative;
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.card {
  position: relative;
  width: 430px;
  height: 250px;
  border-radius: 5px;
  background-image: url(card.svg);
  color: #ffffff;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}
